<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/genres.css" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include("../partials/navbar.ejs") %>
    <div class="container">
      <header>
        <h1><%= title %></h1>
        <a class="create" href="/genres/create">Create Genre</a>
      </header>
      <ul class="genres-list">
        <% genres.map((genre) => { %> <%-
        include("../partials/listItemCard.ejs", { link: "/genres/" + genre.id,
        text: genre.genre}) %> <%}) %>
      </ul>
    </div>
  </body>
</html>
