<a class="game_item" href="/games/<%= game.id %>">
  <h3 class="overflow_title"><%= game.title %></h3>
  <span class="game_year"><%=game.year %></span>
  <span class="game_price">$<%= game.price %></span>
</a>
