<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Developer</title>
  </head>
  <body>
    <h1>Create Developer</h1>
    <form action="/developers/create" method="post">
      <label for="developer">Developer Name: </label>
      <input type="text" name="developer" id="developer" />
      <button type="submit">Submit Developer</button>
    </form>
  </body>
</html>
