<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" />
    <title>Home</title>
  </head>
  <body>
    <%- include("./partials/navbar.ejs") %>
    <h2 class="popular-header">Popular Genres:</h2>
    <ul class="popular-list">
      <% topGenres.map((genre) => { %> <%- include("./partials/popularCard.ejs",
      {link: "/genres/" + genre.id, text: genre.genre}) %> <%})%>
      <a class="popular-item" href="/genres"><span>View All Games</span></a>
    </ul>
    <h2 class="popular-header">Popular Developers:</h2>
    <ul class="popular-list">
      <% topDevelopers.map((developer) => { %> <%-
      include("./partials/popularCard.ejs", {link: "/developers/" +
      developer.id, text: developer.developer}) %> <%})%>
      <a class="popular-item" href="/developers"
        ><span>View All Developers</span></a
      >
    </ul>
    <h2 class="popular-header">Newest Games:</h2>
    <ul class="popular-list">
      <% newestGames.map((game) => { %> <%-
      include("./partials/popularCard.ejs", {link: "/games/" +game.id, text:
      game.title})%> <%})%>
      <a class="popular-item" href="/games"><span>View All Games</span></a>
    </ul>
  </body>
</html>
