<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <%- include("partials/navbar.ejs") %>
    <h2>Popular Genres:</h2>
    <ul>
      <% topGenres.map((genre) => { %>
      <a href="/genres/<%= genre.id %>"
        ><%= genre.genre.charAt(0).toUpperCase() + genre.genre.slice(1) %></a
      >
      <%})%>
      <a href="/genres">View All Genres</a>
    </ul>
  </body>
</html>
