<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/styles.css" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/genres/<%= genre.id %>/update" method="post">
      <label for="genreName">Genre Name: </label>
      <input
        type="text"
        name="genreName"
        id="genreName"
        value="<%= genre.genre %>"
      />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
