<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/forms.css" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include("../partials/navbar.ejs") %>
    <div class="page_container">
      <h1 class="form_title"><%= title %></h1>
      <form action="/developers/create" method="post">
        <div class="form_row">
          <label for="developer">Developer Name: </label>
          <input type="text" name="developer" id="developer" />
        </div>
        <div class="form_row">
          <button type="submit">Submit Developer</button>
        </div>
      </form>
    </div>
  </body>
</html>
