<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/developers.css" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include("../partials/navbar.ejs") %>
    <div class="container">
      <header class="developer">
        <h1><%= title %></h1>
        <a class="create" href="/developers/create">Create Developer</a>
      </header>
      <ul class="developer category-list">
        <% developers.map((developer) => { %> <%-
        include("../partials/listItemCard.ejs", {link: "/developers/" +
        developer.id, text: developer.developer} ) %> <% }) %>
      </ul>
    </div>
  </body>
</html>
