<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet" href="/games.css" />
    <title>Games</title>
  </head>
  <body>
    <%- include("../partials/navbar.ejs") %>
    <div class="page_container">
      <header>
        <h1>Games</h1>
        <a class="create" href="/games/create">Create Game</a>
      </header>
      <ul class="games_list">
        <% games.map((game) => { %> <%- include("../partials/gameCard.ejs",
        {game}) %> <%}) %>
      </ul>
    </div>
  </body>
</html>
