@import url("./styles.css");

/* VIEW ALL DEVELOPERS */

.developers_list {
  display: grid;
  gap: 15px;
}

.list_item {
  background-color: var(--clr-white);
  border-radius: 10px;
  box-shadow: 1px 1px 6px 0px var(--clr-blue);

  padding: 0.5rem 1rem;
}

/* VIEW SINGLE DEVELOPER */
.developer_title {
  background-color: var(--clr-blue);
  color: var(--clr-white);
  border-radius: 10px;

  margin: 0 auto;
  padding: 0.5rem 2rem;

  text-wrap: pretty;
  text-align: center;
}
.developer_edit {
  display: flex;
  gap: 15px;
  justify-content: end;
}
