@import url("./styles.css");

/* VIEW ALL GAMES */
.games_list {
  display: grid;
  gap: 10px;
}

.game_item {
  box-shadow: 1px 1px 4px 0px var(--clr-blue);
  border-radius: 10px;

  background-color: var(--clr-white);
  display: grid;
  grid-template-columns: 1fr 0.2fr 0.2fr;

  padding: 1rem;
}

.overflow_title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.game_year,
.game_price {
  text-align: center;
}

/*VIEW SINGLE GAME */
.game {
  background-color: var(--clr-white);
  box-shadow: 1px 1px 6px 0px var(--clr-blue);
  border-radius: 10px;
  padding: 1em;
}

.game_title {
  padding: 1rem;
}

.game_details {
  list-style: none;
  margin-left: 2rem;
}

.label {
  color: var(--clr-blue);
  font-weight: 700;
}

.game_buttons {
  display: flex;
  justify-content: end;
  gap: 15px;
}
