@import url("./styles.css");

.home_container {
  display: grid;
  gap: 15px;

  padding: 1em;
  border-radius: 10px;

  background-color: var(--clr-white);
}

.carousel_container {
  max-width: 100%;
  text-align: center;
  overflow: hidden;
}

.carousel {
  display: flex;
  gap: 15px;

  overflow-x: auto;
  scroll-snap-type: x mandatory;

  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.carousel::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.carousel::-webkit-scrollbar-thumb {
  background: var(--clr-gray);
  border-radius: 10px;
}

.carousel::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

.carousel::-webkit-scrollbar-track {
  background: transparent;
}

.carousel_item {
  scroll-snap-align: start;
  flex-shrink: 0;

  width: 300px;
  height: 150px;

  margin-bottom: 20px;
  padding: 1em 2em;

  border-radius: 10px;
  background-color: var(--clr-blue);

  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel_item:hover {
  background-color: var(--clr-light-blue);

  transition: background-color 0.5s ease;
  > .carousel_item_title {
    color: var(--clr-light-blue);

    transition: color 0.5s ease;
  }
}

.carousel_item_title {
  background-color: var(--clr-white);
  color: var(--clr-blue);

  padding: 0.5em 1em;

  border-radius: 10px;
}

@media screen and (max-width: 425px) {
  .home_container {
    max-width: 100%;
    border-radius: 0;
  }
  .carousel_item {
    width: 150px;
  }
}
