:root {
  /* color */
  --clr-blue: hsl(213, 74%, 15%);
  --clr-teal: hsl(168, 58%, 41%);
  --clr-green: hsl(146, 29%, 63%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-light-gray: hsl(0, 0%, 94%);
  --clr-black: hsl(0, 0%, 0%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  background-color: var(--clr-light-gray);
  min-height: 100vh;
  line-height: 1.5;
  font-family: system-ui, sans-serif;
  font-weight: normal;
  font-size: 1rem;
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  color: hsl(0, 0%, 0%);
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  font-weight: bold;
}

p {
  max-width: 75ch;
  text-wrap: pretty;
}

nav {
  background-color: var(--clr-white);
  padding: 1em;
}

nav > a:link,
nav > a:visited {
  color: hsl(0, 0%, 0%);
  text-decoration: none;
}

nav > a:hover,
nav > a:visited:hover {
  color: hsl(168, 58%, 41%);
  text-decoration: underline;
}
