:root {
  /* color */
  --clr-black: hsl(0, 0%, 0%);
  --clr-rich-black: hsl(216, 100%, 4%);

  --clr-gray: hsl(203, 22%, 84%);
  --clr-light-gray: hsl(210, 8%, 85%);

  --clr-white: hsl(0, 0%, 100%);
  --clr-shaded-white: hsl(0, 0%, 94%);

  --clr-dark-blue: hsl(211, 100%, 12%);
  --clr-blue: hsl(209, 100%, 20%);
  --clr-light-blue: hsl(209, 100%, 28%);

  --clr-red: hsl(352, 70%, 50%);
  --clr-dark-red: hsl(352, 70%, 40%);

  --clr-shadow: hsla(0, 0%, 0%, 0.3);
}

/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  background-color: var(--clr-gray);
  min-height: 100vh;
  line-height: 1.5;
  font-family: system-ui, sans-serif;
  font-weight: normal;
  font-size: 1rem;
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  color: hsl(0, 0%, 0%);
}

input,
button,
textarea,
select {
  font: inherit;
  font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  font-weight: bold;
}

p {
  max-width: 75ch;
  text-wrap: pretty;
}

/* FONT-SIZING */

h1 {
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 1.4rem + 0.5vw, 2rem);
}

h2 {
  font-size: 1.25rem;
  font-size: clamp(1.25rem, 1.15rem + 0.5vw, 1.75rem);
}

h3 {
  font-size: 1.1rem;
  font-size: clamp(1.1rem, 1.06rem + 0.19vw, 1.3rem);
}
/* LINKS */

a:link,
a:visited {
  color: var(--clr-black);
  text-decoration: none;
}

a:hover,
a:visited:hover {
  color: var(--clr-blue);
}

/* NAVIGATION BAR */
nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--clr-white);
  padding: 1rem;
}

nav > ul {
  display: flex;
  justify-content: end;
  gap: 0.5rem;
  list-style: none;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* PAGE CONTAINER */
.page_container {
  display: grid;
  gap: 1rem;
  max-width: calc(80%);
  margin: 2rem auto;
}

/* BUTTONS */
/* CREATE BUTTON */
.create,
.create:link,
.create:visited {
  padding: 0.5rem 1rem;
  background-color: var(--clr-blue);
  color: var(--clr-white);
  border-radius: 1em;
}

.create:hover,
a.create:hover {
  background-color: var(--clr-light-blue);
  color: var(--clr-white);
  text-decoration: none;

  transition: background-color 0.5s, color 0.5s;
}

/* DELETE BUTTON */
button.delete {
  padding: 0.5rem 1rem;
  background-color: var(--clr-dark-red);
  color: var(--clr-white);
  border-radius: 0.25rem;
  border: none;
}

button.delete:hover {
  cursor: grab;
  background-color: var(--clr-red);

  transition: background-color 0.5s;
}

/* UPDATE LINK/BUTTON */
a.update {
  padding: 0.5rem 1rem;
  background-color: var(--clr-blue);
  color: var(--clr-white);
  border-radius: 0.25rem;
  border: none;
}

a.update:hover {
  cursor: pointer;
  background-color: var(--clr-light-blue);
  color: var(--clr-white);

  transition: background-color 0.5s;
}

/* NOT AVAILABLE OPTION */
.not_available {
  font-style: italic;
  margin-left: 2rem;
}
@media screen and (max-width: 425px) {
  .page_container {
    max-width: calc(100% - 10px);
    margin: 1rem auto;
  }
}
